<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ImmiBridge</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>ImmiBridge</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 Emery Silberman. All rights reserved.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>ImmiBridge needs local network access to connect to your Immich server.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>ImmiBridge needs access to export your Photos library for backup.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ImmiBridge needs access to export your Photos library for backup.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://emerysilb.github.io/immibridge/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>fjX+ZZ0VmssNsaRFaejhCJiq+wskWCUMVurJFCiiAEs=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
